.launches_list{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding: 0px 5rem;
}

.launch_item{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.145);
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.launch_img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.launch_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.launch_data > *{
    text-align: center;
}