<div class="user_background">
    <div class="container">
        <div class="user_body d-md-flex align-items-center justify-content-between">
            <div class="box-1 mt-md-0 mt-5">
                
                <img src="/assets/ship_vertical.png"
                    class="" alt="">
            </div>
            <div class=" box-2 d-flex flex-column h-100">
                <div class="mt-5">
                    <p class="mb-3 h-1">Oh no!</p>

                    <p class="mb-2 text-muted">
                        Attenzione esploratore, ti sei allontanato troppo.
                    </p>
                    <a href="/articles" class="link mb-0">Torna sulla terra</a>

                </div>
                
            </div>
            <span class="fas fa-times"></span>
        </div>
    </div>
</div>
        