<div class="top_bar">
    <div class="top_item">
        <button> Menu </button>
        <%= link_to "Lanci", launches_path, action: :get, class: :link %>
    </div>
    <div class="logo" onclick="window.location.href = '/articles' ">
        <h1>Spacewalk</h1>
    </div>
    
    <div class="top_item"></div>
</div>