<p>Salve <%= @resource.email %>!</p>

<p>Qualcuno ha richiesto un link per modificare la password. Puoi farlo attraverso il link sotto.</p>

<p><%= link_to 'Cambia la mia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non hai richiesto questo procedimento, ignora questa email.</p>
<p>La tua password non cambierà finchè non accederai al link sopra e non la creerai una nuova.</p>
